{
    "presets": [
      [
        "env",
        {
          "modules": false
        }
      ]
    ],
    "plugins": [
      "transform-decorators-legacy",
      "transform-decorators",
      "external-helpers",
      "transform-runtime"
    ],
    "env": {
      "test": {
        "presets": ["env"]
      }
    }
  }