{
    "presets": [
      [
        "env",
        {
          "modules": false
        }
      ]
    ],
    "plugins": [
      "transform-decorators-legacy",
      "transform-decorators",
      "external-helpers"
    ],
    "env": {
      "test": {
        "presets": ["env"],
        "plugins": [
          "transform-decorators-legacy",
          "transform-decorators",
          "external-helpers",
          "transform-runtime"
        ]
      }
    }
  }